/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #8b70cd

$borderColor = #eaecef
$codeBgColor = #2f2642

$backgroundColor = #161425
$backgroundColorTwo = #0A0911
$textColor = #c9c9c9

$borderColor = #382D58
$darkBorderColor = #140717

$highlightColor = #ffff9a

@font-face
  font-family 'Outfit'
  src url('/ttf/Outfit-Regular.woff2') format('woff2')

@font-face
  font-family 'Outfit-Bold'
  src url('/ttf/Outfit-SemiBold.woff2') format('woff2')

@font-face
  font-family 'Outfit-Medium'
  src url('/ttf/Outfit-Medium.woff') format('woff')



@font-face
  font-family 'Jetbrains'
  src url('/ttf/JetBrainsMono-Regular.woff2') format('woff2')